<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :head %>
      <%= yield :head %>
    <% else %>
      <title>FullStackDummy</title>
      <meta name="description" content="A Dummy Full-stack application for testing."/>
    <% end %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Turn off preview to avoid unwanted behaviours from JS double execution -->
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "shared/navigation" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>